# kospi 데이터 탐색 및 전처리

## 준비하기

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from encodings import euc_kr

## kospi 불러오기

In [2]:
kospi = pd.read_csv('./kospi_train.csv',encoding = 'utf-8')
per = pd.read_csv('./per_train.csv',encoding = 'utf-8')

In [3]:
# 의미없는 인덱스 col 지우기 - 전처리 끝나서 필요없음
# kospi = kospi.drop('Unnamed: 0',axis=1)
# per = per.drop('Unnamed: 0',axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [4]:
kospi.head(20)

,날짜,Y,지수시가,지수고가,지수저가,지수종가,거래량,거래대금,상장주식수,시가총액,...,보합종목수,상한종목수,하한종목수,연중최고가종목수,연중최저가종목수,25일이평상회종목건수,25일이평하회종목건수,52주신고가종목수,52주신저가종목수,배당 수익율
0,2001-01-02,상승,503.31,521.34,500.97,520.95,231014600,1223328,19638887,191252891,...,22,167,16,0,0,26,73,1,85,0.0
1,2001-01-03,상승,512.74,524.58,510.70,521.43,324584400,1583403,19633559,191363161,...,52,85,6,0,0,28,71,1,12,0.0
2,2001-01-04,상승,551.53,567.16,550.91,558.02,444540900,2984761,19634734,204074166,...,20,149,3,0,0,42,57,1,2,0.0
3,2001-01-05,상승,559.54,581.41,555.40,580.85,578286000,3569582,19637038,212089180,...,37,92,9,0,0,43,56,3,2,0.0
4,2001-01-08,상승,573.72,587.91,572.48,586.65,558645100,2948092,19630735,214231273,...,45,72,5,0,0,43,56,6,1,0.0
5,2001-01-09,상승,583.85,589.92,572.55,589.92,558967700,2833998,19636252,215355041,...,49,64,8,0,0,48,51,6,1,0.0
6,2001-01-10,상승,586.63,593.86,560.81,560.81,642378200,3285030,19638291,205104272,...,23,36,35,0,0,44,55,7,2,0.0
7,2001-01-11,상승,568.26,570.57,557.86,561.79,518788600,2721732,19641265,205561334,...,43,87,11,0,0,53,46,5,2,0.0
8,2001-01-12,상승,578.95,601.09,578.95,587.87,713787700,3980149,19641865,214741982,...,68,27,9,0,0,57,42,6,1,0.0
9,2001-01-15,상승,595.06,608.22,588.87,599.00,611961800,3407840,19093061,217943452,...,67,49,11,0,0,61,38,7,2,0.0
10,2001-01-16,하락,600.68,608.51,588.42,603.42,606278900,3352424,19103085,219350077,...,50,32,9,0,0,57,42,4,3,0.0
11,2001-01-17,상승,600.75,610.47,587.26,595.83,501660400,3078571,19126066,216568720,...,35,20,20,0,0,54,45,2,5,0.0
12,2001-01-18,하락,597.15,612.90,596.66,604.05,453764800,3021314,19126700,219367134,...,64,15,12,0,0,55,44,0,4,0.0
13,2001-01-19,하락,622.25,622.25,613.66,619.78,432454200,3002558,19100737,224822750,...,75,29,8,0,0,54,44,1,2,0.0
14,2001-01-22,하락,622.52,627.45,614.08,627.45,484953800,2513407,19131209,227685053,...,59,54,5,0,0,54,45,1,1,0.0
15,2001-01-26,상승,623.68,624.00,591.73,591.73,443736600,2603229,19136746,215497711,...,47,18,12,0,0,50,49,2,2,0.0
16,2001-01-29,하락,592.75,598.11,587.42,596.54,461154800,2397521,19141458,217207344,...,49,62,2,0,0,52,47,1,1,0.0
17,2001-01-30,하락,601.29,608.05,591.34,591.34,498673100,2418190,19236025,215444336,...,49,33,2,0,0,53,46,4,1,0.0
18,2001-01-31,하락,594.76,617.91,593.54,617.91,442127200,2585503,19253350,224609465,...,72,40,4,0,0,57,42,1,2,0.0
19,2001-02-01,하락,606.49,620.78,605.42,612.30,396006900,2211415,19258851,222747672,...,44,23,6,0,0,54,45,4,1,0.0

## Y의 '상승'은 (기준일의 지수종가 - 5일 후의 지수종가) < 0 일 때를 의미하는가?

In [5]:
# 필요한 변수만 추리기
sample_1 = kospi[['날짜','Y','지수종가']]

#### 5일 후와 비교하기- diff 계산 function: diff_5()

In [51]:
def diff(x):
    ans = x - x.shift(5)
    ans =

In [52]:
diff(kospi['지수종가'])

ValueError: Length mismatch: Expected axis has 2 elements, new values have 1 elements

In [7]:
# diff_tf = diff>0 인지에 대한 TF
diff_tf = diff[['diff']]>0

## column 이름 변경 'diff'->'Y_TF': Y를 True/False으로 나타낸 변수라서
diff_tf.columns = ['Y_TF']
diff_tf

       Y_TF
0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25     True
26    False
27     True
28    False
29    False
...     ...
3927  False
3928  False
3929   True
3930   True
3931  False
3932  False
3933   True
3934  False
3935  False
3936   True
3937  False
3938  False
3939   True
3940   True
3941   True
3942   True
3943   True
3944   True
3945   True
3946   True
3947   True
3948   True
3949   True
3950   True
3951  False
3952  False
3953  False
3954   True
3955  False
3956  False

[3957 rows x 1 columns]

In [8]:
## kospi의 Y만 포함한 dataframe 작성 -> concat으로 합치기 위해서 dataframe형식으로 만들기
kospi_y = kospi[['Y']]
kospi_y.head()

    Y
0  상승
1  상승
2  상승
3  상승
4  상승

In [9]:
# diff_tf와 kospi_y 합치기
answer = pd.concat([diff_tf,kospi_y],axis=1)

In [10]:
# 확인하기
## Y_TF == True인데 Y == '하락' 인 경우
answer[answer['Y_TF']==1][answer['Y']=='하락'] # 없음

C:\Users\genie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: [Y_TF, Y]
Index: []

### 지수시가 / 고가 / 저가 삭제하기

In [11]:
# main data = kospi
kospi.head(5)

,날짜,Y,지수시가,지수고가,지수저가,지수종가,거래량,거래대금,상장주식수,시가총액,...,보합종목수,상한종목수,하한종목수,연중최고가종목수,연중최저가종목수,25일이평상회종목건수,25일이평하회종목건수,52주신고가종목수,52주신저가종목수,배당 수익율
0,2001-01-02,상승,503.31,521.34,500.97,520.95,231014600,1223328,19638887,191252891,...,22,167,16,0,0,26,73,1,85,0.0
1,2001-01-03,상승,512.74,524.58,510.70,521.43,324584400,1583403,19633559,191363161,...,52,85,6,0,0,28,71,1,12,0.0
2,2001-01-04,상승,551.53,567.16,550.91,558.02,444540900,2984761,19634734,204074166,...,20,149,3,0,0,42,57,1,2,0.0
3,2001-01-05,상승,559.54,581.41,555.40,580.85,578286000,3569582,19637038,212089180,...,37,92,9,0,0,43,56,3,2,0.0
4,2001-01-08,상승,573.72,587.91,572.48,586.65,558645100,2948092,19630735,214231273,...,45,72,5,0,0,43,56,6,1,0.0

In [13]:
kospi_1 = kospi.drop(['지수시가','지수고가','지수저가'],axis=1)
kospi_1.head(5)

,날짜,Y,지수종가,거래량,거래대금,상장주식수,시가총액,자본금,외국인보유주식수,외국인보유시가총액,...,보합종목수,상한종목수,하한종목수,연중최고가종목수,연중최저가종목수,25일이평상회종목건수,25일이평하회종목건수,52주신고가종목수,52주신저가종목수,배당 수익율
0,2001-01-02,상승,520.95,231014600,1223328,19638887,191252891,84895076,2723222,58238292,...,22,167,16,0,0,26,73,1,85,0.0
1,2001-01-03,상승,521.43,324584400,1583403,19633559,191363161,84868436,2727918,58249739,...,52,85,6,0,0,28,71,1,12,0.0
2,2001-01-04,상승,558.02,444540900,2984761,19634734,204074166,84873582,2735566,62823637,...,20,149,3,0,0,42,57,1,2,0.0
3,2001-01-05,상승,580.85,578286000,3569582,19637038,212089180,84885103,2747453,65820417,...,37,92,9,0,0,43,56,3,2,0.0
4,2001-01-08,상승,586.65,558645100,2948092,19630735,214231273,84853590,2751599,66348238,...,45,72,5,0,0,43,56,6,1,0.0

### Y_TF와 diff 변수 추가하기

In [14]:
diff.head(5)

    diff
0  68.97
1  39.38
2   3.77
3   7.02
4  12.35

In [15]:
diff_tf.head(5)

   Y_TF
0  True
1  True
2  True
3  True
4  True

In [18]:
# kospi_1 = pd.concat([kospi_1,diff,diff_tf],axis=1)
kospi_1.head(5)

,날짜,Y,지수종가,거래량,거래대금,상장주식수,시가총액,자본금,외국인보유주식수,외국인보유시가총액,...,하한종목수,연중최고가종목수,연중최저가종목수,25일이평상회종목건수,25일이평하회종목건수,52주신고가종목수,52주신저가종목수,배당 수익율,diff,Y_TF
0,2001-01-02,상승,520.95,231014600,1223328,19638887,191252891,84895076,2723222,58238292,...,16,0,0,26,73,1,85,0.0,68.97,True
1,2001-01-03,상승,521.43,324584400,1583403,19633559,191363161,84868436,2727918,58249739,...,6,0,0,28,71,1,12,0.0,39.38,True
2,2001-01-04,상승,558.02,444540900,2984761,19634734,204074166,84873582,2735566,62823637,...,3,0,0,42,57,1,2,0.0,3.77,True
3,2001-01-05,상승,580.85,578286000,3569582,19637038,212089180,84885103,2747453,65820417,...,9,0,0,43,56,3,2,0.0,7.02,True
4,2001-01-08,상승,586.65,558645100,2948092,19630735,214231273,84853590,2751599,66348238,...,5,0,0,43,56,6,1,0.0,12.35,True

In [22]:
# 적절한 위치에 삽입하기 - cols 순서 변경하기
## (1) cols_1 = kospi_1의 col명을 순서대로 담은 list

cols_1 = kospi_1.columns
cols_1

Index(['날짜', 'Y', '지수종가', '거래량', '거래대금', '상장주식수', '시가총액', '자본금', '외국인보유주식수',
       '외국인보유시가총액', '신용거래종목수', '신용가능종목거래량', '신용자료일자', '전체종목수', '회사수',
       '거래형성종목수', '상승종목수', '하락종목수', '보합종목수', '상한종목수', '하한종목수', '연중최고가종목수',
       '연중최저가종목수', '25일이평상회종목건수', '25일이평하회종목건수', '52주신고가종목수', '52주신저가종목수',
       '배당 수익율', 'diff', 'Y_TF'],
      dtype='object')

In [37]:
## (2) cols_1_1 = 날짜, 지수종가, diff, diff_tf, Y빼고 나머지 분리하기
#cols_1_1 = cols_1[3:-2]

## (3) 날짜, 지수종가, diff, diff_tf, Y 원하는 위치에 삽입하기
#cols_1_1 = cols_1_1.insert(4,'Y')
cols_1_1

Index(['날짜', '지수종가', 'diff', 'Y_TF', 'Y', '거래량', '거래대금', '상장주식수', '시가총액',
       '자본금', '외국인보유주식수', '외국인보유시가총액', '신용거래종목수', '신용가능종목거래량', '신용자료일자',
       '전체종목수', '회사수', '거래형성종목수', '상승종목수', '하락종목수', '보합종목수', '상한종목수', '하한종목수',
       '연중최고가종목수', '연중최저가종목수', '25일이평상회종목건수', '25일이평하회종목건수', '52주신고가종목수',
       '52주신저가종목수', '배당 수익율'],
      dtype='object')

In [39]:
kospi_1 = kospi_1[cols_1_1]
kospi_1.head(5)

,날짜,지수종가,diff,Y_TF,Y,거래량,거래대금,상장주식수,시가총액,자본금,...,보합종목수,상한종목수,하한종목수,연중최고가종목수,연중최저가종목수,25일이평상회종목건수,25일이평하회종목건수,52주신고가종목수,52주신저가종목수,배당 수익율
0,2001-01-02,520.95,68.97,True,상승,231014600,1223328,19638887,191252891,84895076,...,22,167,16,0,0,26,73,1,85,0.0
1,2001-01-03,521.43,39.38,True,상승,324584400,1583403,19633559,191363161,84868436,...,52,85,6,0,0,28,71,1,12,0.0
2,2001-01-04,558.02,3.77,True,상승,444540900,2984761,19634734,204074166,84873582,...,20,149,3,0,0,42,57,1,2,0.0
3,2001-01-05,580.85,7.02,True,상승,578286000,3569582,19637038,212089180,84885103,...,37,92,9,0,0,43,56,3,2,0.0
4,2001-01-08,586.65,12.35,True,상승,558645100,2948092,19630735,214231273,84853590,...,45,72,5,0,0,43,56,6,1,0.0

In [ ]:
kospi_1.to_csv('kospi_train_1.csv',index = False)

#### kospi_train_1.csv
> kospi_train의 수정 ver.1
- 지수시가 / 지수고가 / 지수저가 삭제
- diff(기준일자 지수종가 - 5일 후 지수종가) 추가
- Y_TF(diff>0에 대한 논리형) 추가

## 결측치 확인하기

### kospi 변수 확인하기

In [42]:
col_kospi = kospi_1.columns
col_kospi

Index(['날짜', '지수종가', 'diff', 'Y_TF', 'Y', '거래량', '거래대금', '상장주식수', '시가총액',
       '자본금', '외국인보유주식수', '외국인보유시가총액', '신용거래종목수', '신용가능종목거래량', '신용자료일자',
       '전체종목수', '회사수', '거래형성종목수', '상승종목수', '하락종목수', '보합종목수', '상한종목수', '하한종목수',
       '연중최고가종목수', '연중최저가종목수', '25일이평상회종목건수', '25일이평하회종목건수', '52주신고가종목수',
       '52주신저가종목수', '배당 수익율'],
      dtype='object')